/* The CSS is hapazard, change it to your requirements */

.header {
	height:90px;
	background-color: #69BEBF;
	text-align: center;
	font-family: "Verdana", Times, Serif;
}

h1 {
	position: relative;
	top: 20px;
	color: #ffffff;
}

h2 {
	font-family: "Verdana", Times, Serif;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	font-size: x-large;
	font-weight:bold;
	color: #565E5E;
}

table, th,td {
	border-collapse:collapse;
	border:1px solid #69BEBF;
	font-family: "Verdana", Times, Serif;
}

table {
	table-layout: fixed;
	width: 95%;
	margin-left:auto; 
    margin-right:auto;
}

th, td {
	width: 20%;
	overflow: hidden;
}

th {
	background-color: #E8E8E8;
}

.tcol {
	height: 60px;
	overflow:auto;
	overflow-x:scroll;
}

.wrapper {
	/*Don't remove the line below! */
	position: relative;
	height: relative;
	
	
	/*Start coding your CSS here */
	/*Advice: Create a new divider class and define their styles*/
	
}

.userwrap {
	position:relative;
	top: 100px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-family: "Verdana", Times, Serif;
	font-size: x-large;
	font-weight:bold;
	color: #565E5E;
}

/*Index.HTML file related CSS Elements */
.geowrapper {
	
	position:relative;
	top: 175px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-family: "Georgia", Times, Serif;
}

.loginwrapper {
	position: relative;
	text-align:center;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	font-family: "Verdana", Times, Serif;
}

/*Don't alter footer class at any cost - Sticky Footer hack */
.footer {
	text-align:center;
	position: relative;
	margin: 0 auto;
}